---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" name="Jacob Handwerger About" content="Jacob Handwerger About page">
  <main class="page-container-about">
    <h1>About Me</h1>
  </main>
  <Footer />
</Layout>
