---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" name="Jacob Handwerger About" content="Jacob Handwerger About page">
  <main class="page-container-about">
    <h1>About Me</h1>
    <p>My name is Jacob Handwerger. I enjoy bringing ideas to life and creating experiences that people enjoy. I am a self starter, a problem solver, and, most of all, a lifelong learner. My pursuit of learning new skills and languages is ubiquitous, and I find that the most rewarding aspect of programming is turning a vision into reality through action. If I'm not coding, I'm either lifting weights, training martial arts, or reading. In everything I do, I strive for discipline and excellence. I am always looking for ways to improve my skills and knowledge, and I am committed to getting better every day.</p>
  </main>
  <Footer />
</Layout>
