---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" name="JH About" content="Jacob Handwerger About page">
  <main class="page-container">
    <h1>About Page</h1>
  </main>
</Layout>
