---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact";
---

<Layout
  title="About"
  name="Jacob Handwerger About"
  content="Jacob Handwerger About page"
>
  <body>
    <section class="section-one">
      <h1>About Me</h1>
      <p>
        My name is Jacob Handwerger. I enjoy bringing ideas to life and creating
        experiences that people enjoy. I am a self starter, a problem solver,
        and, most of all, a lifelong learner. I genuinely enjoy learning new
        skills and languages using my fundamentals, and I find that the most
        rewarding aspect of programming is turning a vision into reality through
        action. If I'm not coding, I'm either lifting weights, training martial
        arts, or reading. In everything I do, I strive for discipline and
        excellence. I am always looking for ways to improve my skills and
        knowledge, and I am committed to getting better every day.
      </p>
      <div class="icon-scroll">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div class="icon-arrows">
          <span></span>
        </div>
      </div>
    </section>
    <section class="section-two">
      <h1>My Journey Into Programming</h1>
      <p>
        My journey started when I became involved in the web 3 space around {
          new Date().getFullYear() - 2022
        } ago. Immersing myself within that ecosystem not only showed me how incredible
        blockchain technology is but also how incredible the people behind it are.
        I was eager to build just like them. What started as a self-taught journey
        featuring HTML and CSS quickly evolved into something I wanted to take to
        the next level. So I enrolled in a coding bootcamp. The bootcamp was a great
        experience. Not only did I learn the latest and greatest tech, but, more
        importantly, I solidified my programming fundamentals and principles. Since
        finishing my bootcamp, I've been devoting myself to coding every day.
      </p>
    </section>
    <section class="section-three">
      <h1>Currently</h1>
      <p>
        I have acquired proficiency in several programming languages and
        frameworks, and use those languages on the frontend and backend. Over
        the course of my learning journey, I have successfully conceptualized,
        designed, and executed several diverse projects that showcase my
        practical skills and problem-solving abilities. My passion for coding
        and my dedication to continuous improvement drive me to stay updated
        with the latest industry trends and technologies. I am currently working
        as a developer full-time where I apply my skills to contribute
        effectively with my team and make a meaningful impact. I am also
        studying DSA pretty heavily
      </p>
    </section>
    <section class="section-four">
      <h1>Onwards</h1>
      <p>
        As I look ahead, I am focused on enhancing my skills within my current
        tech stack even further. The ever-evolving nature of the tech industry
        encourages continuous learning, and I am committed to staying at the
        forefront using the fundamentals. In addition to mastering my current
        skill set, I am continuously hammering down on my fundamentals. I am
        excited to continue on with my journey, learn, grow, and make an impact.
      </p>
    </section>
    <section class="contact-slide">
      <svg
        viewBox="0 -20 700 110"
        width="100%"
        height="180"
        preserveAspectRatio="none"
      >
        <path
          transform="translate(0, -20)"
          d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"
          fill="#ff3300"></path>
        <path
          d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z"
          fill="#f7f7f7"></path>
      </svg>
      <Contact />
    </section>
  </body>
</Layout>

<style>
  html,
  body,
  section {
    block-size: 100%;
  }

  html {
    scroll-snap-type: y mandatory;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.8rem;
    width: 90vw;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .section-one {
    padding: 1rem;
    color: #f7f7f7;
    background: #2b3743;
  }

  .section-two {
    padding: 1rem;
    color: #2b3743;
    background: #f7f7f7;
  }

  .section-three {
    padding: 1rem;
    color: #f7f7f7;
    background: #2b3743;
  }

  .section-four {
    padding: 1rem;
    color: #2b3743;
    background: #f7f7f7;
  }
  .icon-scroll {
    top: 50%;
    left: 50%;
    width: 1em;
    height: 3.125em;
    transform: translateX(-50%) scale(2);
    z-index: 99999;
    margin-top: 3rem;
  }

  .icon-arrows::after,
  .icon-arrows::before {
    content: "";
  }
  .icon-arrows span,
  .icon-arrows::after,
  .icon-arrows::before {
    display: block;
    width: 0.315em;
    height: 0.315em;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(45deg);
    animation: mouse-scroll 1s infinite;
    animation-direction: alternate;
  }

  .icon-arrows::before {
    margin-top: 0.315em;
    animation-delay: 0.1s;
  }

  .icon-scroll span {
    animation-delay: 0.2s;
  }

  .icon-arrows::after {
    animation-delay: 0.3s;
  }

  .icon-scroll .mouse {
    height: 1.375em;
    width: 0.875em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2em;
  }

  .icon-scroll .wheel {
    position: relative;
    display: block;
    height: 0.1875em;
    width: 0.1875em;
    margin: 0.1875em auto 0;
    background: rgba(255, 255, 255, 0.8);
    animation: mouse-wheel 1.2s ease infinite;
    border-radius: 50%;
  }

  @keyframes mouse-wheel {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(0.375em);
    }
  }

  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>
