---
import Layout from "../layouts/Layout.astro";
import Languages from "../components/Languages.astro";
import ThreeProjects from "../components/ThreeProjects.astro";
import CtaBtn from "../components/buttons/CtaBtn.astro";
import GithubBtn from "../components/buttons/GithubBtn.astro";
import LinkedInBtn from "../components/buttons/LinkedInBtn.astro";
import GmailBtn from "../components/buttons/GmailBtn.astro";
import DownloadResume from "../components/DownloadResume.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Home" name="Jacob Handwerger Home" content="Jacob Handwerger Home page">
  <main class="page-container">
    <section class="hero-section">
      <div class="hero-text">
        <h1>
          Hi, I'm <img class="logo-img-name" src="./logo.svg" alt="Logo" />acob
        </h1>
        <p>
          A full stack developer always <b>learning</b> and <b>building</b> new
          things.
        </p>
        <a class="form-btn" href="#contact" id="link">
          <span>Contact Me</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
      <div class="pfp-socials">
        <img src="./pfp.jpg" alt="Jacob" />
        <div class="social-buttons">
          <>
            <GithubBtn link="https://github.com/j4yyyeth" />
            <LinkedInBtn />
            <GmailBtn />
          </>
          <>
            <DownloadResume />
          </>
        </div>
      </div>
    </section>
    <section class="about-section">
      <div class="about-me">
        <h2>A Little Bit About Me</h2>
        <p>
          My name is Jacob Handwerger. I enjoy bringing ideas to life and
          creating experiences that people enjoy. I am a self starter, a problem
          solver, and, most of all, a lifelong learner. My pursuit of learning
          new skills and languages is ubiquitous, and I find that the most
          rewarding aspect of programming is turning a vision into reality
          through action. If I'm not coding, I'm either lifting weights,
          training martial arts, or reading. In everything I do, I strive for
          discipline and excellence. I am always looking for ways to improve my
          skills and knowledge, and I am committed to getting better every day.
        </p>
        <CtaBtn text="read more" link="/about" />
      </div>
      <div class="about-skills">
        <h2>Some Of My Skills</h2>
        <div class="languages-flex">
          <Languages />
        </div>
      </div>
    </section>
    <section class="projects-section">
      <ThreeProjects />
      <CtaBtn text="view more" link="/projects" />
    </section>
  </main>
  <Footer />
</Layout>
