---
import GithubBtn from "../components/buttons/GithubBtn.astro";
import LiveSiteBtn from "../components/buttons/LiveSiteBtn.astro";
import ProjectReadBtn from "../components/buttons/ProjectReadBtn.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Projects"
  name="JH Projects"
  content="Jacob Handwerger Projects page"
>
  <main class="projects-page-container">
    <div class="three-projects-container">
      <div class="first hero">
        <img class="hero-profile-img" src="./vigymHome.png" alt="vigym" />
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
          <img src="./vigym.png" alt="vigym" />
        </div>
        <div class="hero-description">
          <h3>ViGym</h3>
          <div class="divider"></div>
          <p>A fitness web-app</p>
        </div>
        <div class="hero-links">
          <GithubBtn link="https://github.com/j4yyyeth/vigym-client" />
          <LiveSiteBtn link="https://vigym.netlify.app" />
        </div>
        <ProjectReadBtn link="/project/ViGym" />
      </div>
      <div class="second hero">
        <img class="hero-profile-img" src="./pragtoHome.png" alt="pragto" />
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
          <img src="./pragto.png" alt="pragto" />
        </div>
        <div class="hero-description">
          <h3>Pragto</h3>
          <div class="divider"></div>
          <p>A gamified todo web-app</p>
        </div>
        <div class="hero-links">
          <GithubBtn link="https://github.com/j4yyyeth/pragto-client" />
          <LiveSiteBtn link="https://pragto.netlify.app" />
        </div>
        <ProjectReadBtn link="/project/Pragto" />
      </div>
      <div class="third hero">
        <img
          class="hero-profile-img"
          src="./buccaneerBarrageHome.png"
          alt="buccaneer barrage"
        />
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
          <img src="./buccaneerBarrage.png" alt="buccaneer barrage" />
        </div>
        <div class="hero-description">
          <h3>Buccaneer Barrage</h3>
          <div class="divider"></div>
          <p>A pirate shooter game</p>
        </div>
        <div class="hero-links">
          <GithubBtn link="https://github.com/j4yyyeth/pirate-game" />
          <LiveSiteBtn link="https://j4yyyeth.github.io/pirate-game" />
        </div>
        <ProjectReadBtn link="/project/Buccaneer-Barrage" />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
