---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" name="JH Projects" content="Jacob Handwerger Projects page">
  <main class="page-container">
    <h1>Projects Page</h1>
  </main>
</Layout>
